altair
annotated-types
anyio==4.9.0
archspec
attrs
beautifulsoup4==4.13.4
blinker
boltons
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
cryptography
curl_cffi==0.11.1
cycler==0.12.1
dash==3.0.4
dash-core-components==2.0.0
dash-html-components==2.0.0
distro
fastapi==0.115.12
Flask==3.0.3
fonttools==4.58.4
frozendict
gitdb
GitPython
h11==0.16.0
idna
importlib_metadata
importlib_resources
itsdangerous==2.2.0
Jinja2
fastapi[standard]
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
matplotlib==3.10.3
mdurl
multitasking==0.0.11
narwhals
nest-asyncio==1.6.0
next==1.0.1
numexpr
numpy==2.2.5
opencv-contrib-python==4.11.0.86
packaging
pandas==2.2.3
peewee==3.18.1
pillow
pkgutil_resolve_name
platformdirs
plotly==6.1.2
pluggy
postgres==4.0
protobuf==5.29.3
psycopg2
psycopg2-binary==2.9.10
psycopg2-pool==1.2
pyarrow
pycosat
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing==3.2.3
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
retrying==1.3.5
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
setuptools==73.0.1
six
smmap
sniffio==1.3.1
soupsieve==2.7
starlette==0.46.2
streamlit
tenacity
toml
tornado
tqdm
truststore
typing_extensions
tzdata
urllib3
uvicorn==0.34.3
watchdog
websockets==15.0.1
Werkzeug==3.0.6
wheel==0.45.1
yfinance==0.2.61
zipp
zstandard

# --- Optional: only on Python 3.12 (Hummingbot provides wheels for 3.12) ---
hummingbot ; python_version == "3.12"